body {
  margin: 0;
  padding: 0;
  background-image: url("imagens/fundo.jpg"); /* caminho da imagem */
  background-size: cover;       /* cobre toda a tela */
  background-position: center;  /* centraliza */
  background-repeat: no-repeat; /* não repete */
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  padding: 20px;
  margin: 0;
  color: rgb(177, 8, 8);
}

/* ===== CARDÁPIO ===== */
.cardapio {
  max-width: 550px;
  margin: 30px auto;
  background: rgba(9, 10, 10, 0.3); /* transparência */
  padding: 20px;
  border-radius: 12px;
  backdrop-filter: blur(5px); /* efeito vidro opcional */
}

/* ===== ITENS ===== */
.item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  background: #b67109f5;
  padding: 10px;
  border-radius: 10px;
font-weight:bold;
}



.item img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
}

/* ===== INFORMAÇÕES ===== */
.info {
  flex: 1;
}

.info span {
  display: block;
  margin-bottom: 8px;
}

/* ===== CAMPOS ===== */
input, select, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: none;
}

input[type="number"] {
  width: 70px;
}

/* ===== BOTÃO ===== */
button {
  width: 100%;
  padding: 12px;
  background: #ff6600;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #e65c00;
}

/* ===== TOTAL ===== */
.total {
  font-size: 18px;
  margin: 15px 0;
  text-align: right;
  color: white;

}
