body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("imagens/fundo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}


h1 {
  text-align: center;
  color: white;
  padding: 20px 10px;
  margin: 0;
  font-size: 28px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}


.cardapio {
  max-width: 700px;
  margin: 30px auto;
  background: rgba(9, 10, 10, 0.75);
  padding: 20px;
  border-radius: 12px;
  backdrop-filter: blur(5px);
}


#nome,
#endereco,
#pagamento,
#observacao {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
}


.item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  background: #f9fbfbf5;
  padding: 10px;
  border-radius: 10px;
}


.item img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
}


.info {
  flex: 1;
}


.info span {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #222;
}


.info input {
  width: 80px;
  padding: 8px;
  font-size: 16px;
}


textarea {
  resize: vertical;
  min-height: 80px;
}


.total {
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}


button {
  width: 100%;
  padding: 14px;
  background: #32bcad;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}


button:hover {
  opacity: 0.9;
}


.pix-box {
  background: rgba(255, 255, 255, 0.97);
  padding: 18px;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 20px;
}


.oculto {
  display: none;
}


.pix-box h3 {
  margin-top: 0;
  color: #222;
}


.qr-code {
  width: 220px;
  max-width: 100%;
  border-radius: 10px;
  margin: 10px 0;
}


.chave-titulo {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}


.chave-pix {
  font-size: 14px;
  color: #444;
  word-break: break-all;
  background: #f2f2f2;
  padding: 10px;
  border-radius: 8px;
}


.btn-pix {
  background: #32bcad;
  margin-top: 10px;
}


@media (max-width: 600px) {
  h1 {
    font-size: 22px;
  }


  .cardapio {
    margin: 15px;
    padding: 15px;
  }


  .item {
    flex-direction: column;
    text-align: center;
  }


  .item img {
    width: 120px;
    height: 120px;
  }


  .info input {
    width: 100px;
  }


  .info span {
    font-size: 16px;
  }


  .total {
    font-size: 20px;
  }


  button {
    font-size: 16px;
  }
}

